* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f0f0;
}

main .cadastro {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

main .cadastro button {
    padding: 10px 20px;
    color: #fff;
    background-color: #095672;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

main .cadastro button:hover {
    background-color: #08465b;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-conteudo {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.modal-conteudo input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-conteudo input[type="submit"] {
    background-color: #095672;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-conteudo input[type="submit"]:hover {
    background-color: #08465b;
}

.modal-conteudo .fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: #0c6a8a;
    cursor: pointer;
}

.modal-conteudo .fechar:hover {
    color: black;
}

.apresentarclientes table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.apresentarclientes th,
.apresentarclientes td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.apresentarclientes th {
    background-color: #0e608328;
}

.apresentarclientes tr:nth-child(even) {
    background-color: #b1adad2c;
}

.apresentarclientes tr:hover {
    background-color: #d8d7d731;
}

.apresentarclientes td a {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    background-color: #095672;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.apresentarclientes td a:hover {
    background-color: #08465b;
}
